$nav-background-color: #47a3da;
$container-fluid-perspective:1200px;
$container-fluid-position: absolute;
$container-fluid-top: 0;
$container-fluid-left: 0;
$container-fluid-width: 100%;
$container-fluid-height: 100%;
$container-fluid-padding: 0;
$transition-page : all 0.4s ease-in;
$transition-lazy-loaded : opacity .333s ease-in;
$transition-lazy-start-opacity: 0;
$transition-lazy-loaded-opacity: 1;
$section-width: 100%;
$section-height: 100%;
$section-position: absolute;
$section-top: 0;
$section-left: 0;
$section-visibility: hidden;
$section-overflow: hidden;
$section-backface-visibility: hidden;
$section-current-visibility: visible;
$section-current-zindex: 1;
$section-ontop-zindex: 999;
$focuspoint-position: relative;
$focuspoint-overflow: hidden;
$focuspoint-height: 100%;
$focuspoint-image-position: absolute;
$focuspoint-image-top: 0;
$focuspoint-image-left: 0;
$focuspoint-image-margin: 0;
$focuspoint-image-display: block;
$focuspoint-image-height: auto;
$focuspoint-image-width: auto;
$focuspoint-image-min-height: 100%;
$focuspoint-image-min-width: 100%;
$focuspoint-image-max-height: none;
$focuspoint-image-max-width: none;
$overlay-zindex: 10;
$overlay-width: 100%;
$overlay-height: 100%;
$overlay-display: block;
$overlay-background: rgba(0,0,0,0.5) url("images/712.gif") no-repeat scroll center center;
$overlay-position: absolute;
$overlay-top: 0;
$overlay-left: 0;

