$paragraph-headline-font-family: 'bmwtypechineseregular';
$paragraph-headline-font-size: 2.25em;
$paragraph-headline-font-weight: bold;

$paragraph-subheadline-font-family: 'bmwtypechineseregular';
$paragraph-subheadline-font-size: 1.25em;
$paragraph-subheadline-font-weight: normal;

$paragraph-text-position: absolute;
$paragraph-text-color: #FFFFFF;

$paragraph-text-darkened-position: absolute;
$paragraph-text-darkened-color: darken(#FFFFFF,50%);