@import 'bourbon/bourbon';
@import 'neat/neat';




.cards {    
    @include display($cards-flex-display);
    @include flex-wrap($cards-flex-wrap);
    @include justify-content($cards-justify-content);
}

.card {
    @include flex-basis($card-flex-basis);
    @include flex-grow($card-flex-grow);
    @include transition($card-transition);
    background-color: $card-background;
    border-radius: $base-border-radius;
    border: $card-border;
    box-shadow: $card-box-shadow;
    cursor: $card-cursor;
    margin: 0 $card-margin $base-spacing $card-margin;
    @include position($card-position ,$card-top-position $card-right-position $card-bottom-position $card-left-position);



  .card-image {
    overflow: $card-image-overflow;
    height: $card-image-img-width;
    max-height: $card-image-max-height;
    background-color: $card-image-hover-color;

    img {
      @include transition ($card-image-img-transition-value);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: $card-image-img-width;
      opacity: $card-image-img-opacity;
    }
  }

  .card-header {
    @include transition ($card-header-transition-value);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: $card-header-font-weight;
    line-height: $card-header-line-height;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-copy {
    font-size: $card-copy-font-size;
    line-height: $card-copy-line-height;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: $card-cursor;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
