@import '_paragraph-variables';

.paragraph-headlines {
    .headline {
        font-family: $paragraph-headline-font-family;
        font-size: $paragraph-headline-font-size;
        font-weight: $paragraph-headline-font-weight;
    }

    .subheadline {
        font-family: $paragraph-subheadline-font-family;
        font-size: $paragraph-subheadline-font-size;
        font-weight: $paragraph-subheadline-font-weight;
    }
}

.paragraph-text {
    position: $paragraph-text-position;
    color: $paragraph-text-color;
}

.paragraph-text-darkened {
    position: $paragraph-text-darkened-position;
    color: $paragraph-text-darkened-color;
}

